:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.planets-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planets-section__table {
  margin-bottom: 20px;
}

.planets-table {
  border-collapse: collapse;
}

.planets-table__row th {
  padding: 4px 12px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.planets-table__row td {
  padding: 4px 8px;
  border-bottom: 1px solid grey;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pagination__buttons {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination__item + .pagination__item {
  margin-left: 12px;
}

.pagination__button {
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: #CEC7D3;

  &:hover {
    background-color: #C5B2D4;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #7E569C;
    background-color: #EAD4FA;
  }

  &:active {
    opacity: 0.6;
    box-shadow: none;
  }
}

.pagination__button--active,
.pagination__button--active:hover,
.pagination__button--active:focus,
.pagination__button--active:active
{
  color: white;
  cursor: default;
  background-color: #795B90;
  box-shadow: 0 0 0 2px #795B90,
  inset 0 0 0 2px white;
}
